.container {
  display: flex;
  background-color: var(--color-background-dark);
  border-radius: 5px;
  padding: 1rem;
  gap: 1rem;
  padding-bottom: 5rem;
}

.mainImageContainer {
  width: 100%;
  height: 450px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 5px;
  background-color: var(--color-background-darker);
}

.gallerySection {
  width: 80px;
  display: flex;
  flex-direction: column;
}

.detailsSection {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.contactSection {
  border: var(--color-background) solid 1px;
  border-radius: 5px;
  padding: 1rem;
}

.galleryUl {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 100%;
  max-height: 450px;
}

.galleryUl li {
  display: flex;
  align-items: center;
  background-color: var(--color-background);
  border: solid 1px transparent;
  width: 50px;
  height: 50px;
  border-radius: 5px;
  filter: grayscale(.5);
}

.galleryUl li:hover {
  filter: grayscale(0);
  cursor: pointer;
  border: solid 1px var(--color-background-light);
}

@media only screen and (max-width: calc(1200px + 6rem)) {
  .container {
    flex-direction: column;
  }
  
  .gallerySection {
    display: flex;
    flex-direction: column-reverse;
  }

  .galleryUl {
    flex-direction: row;
  }

}