.container {
  display: flex;
  align-items: center;
  gap: .5rem;
  font-size: 14px;
}

.container:hover {
  cursor: pointer;
}

.profilePicContainer {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  overflow: hidden;
  border: var(--color-primary) solid ;
}

.container:hover .profilePicContainer{
  border: var(--color-primary-hover) solid ;
  cursor: pointer;
}

@media only screen and (max-width: calc(1200px + 6rem)) {
  .username {
    display: none;
  }

  .profilePicContainer {
    width: 35px;
    height: 35px;
  }
}