.container {
  height: 300px;
  max-height: 50vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  overflow: hidden;
}

.logoContainer {
  width: 100%;
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
}

.logo {
  max-width: 800px;
}

.text {
  text-align: center;
}

.sliderContainer {
  display: flex;
  width: 400vw;
  height: 300px;
  max-height: 50vh;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  justify-content: space-between;
}

.sliderCard {
  width: 100vw;
  height: 300px;
  max-height: 50vh;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.background {
  width: 100vw;
  display: flex;
  background-color: rgba(165, 139, 162, 0.507);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  justify-content: space-around;
  align-items: center;
}

.sliderContent {
  padding: 4rem;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1190px;
}

.imageSlider {
  height: 100%;
}


@media only screen and (max-width: calc(1200px + 6rem)) {
  .logoContainer {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

@media only screen and (max-width: 700px) {
  .textContainer {
    width: 150px;
  }

  .text {
    font-size: 12px;
  }

  .titleText {
    font-size: 14px;
  }

  .priceText {
    font-size: 29px;
  }

  .imageSlider {
    max-height: 175px;
  }

  .logo {
    max-width: 350px;
  }
}