@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,100&display=swap');

:root {
  font-family: Poppins;
  line-height: 1.5;
  font-weight: 400;
  width: 100%;
  min-height: 100vh;

  --color-primary: #96464d;
  --color-secundary: #5e4451e8;
  --color-primary-hover: #4b2536;
  --color-secundary-hover: #703345;
  --color-background: rgb(27, 27, 27);
  --color-background-light: rgb(223, 223, 223);
  --color-background-dark: rgb(22, 22, 22);
  --color-background-darker: rgb(8, 8, 8);
  --color-background-dark-opacity: rgba(22, 22, 22, 0.788);
  --color-font: rgb(241, 241, 241);
  --color-font-dark: rgb(0, 0, 0);
  --color-gray-100: rgb(100, 100, 100);
  --color-gray-75: rgb(75, 75, 75);
  --color-gray-50: rgb(50, 50, 50);
  --bg-button-secundary: #344b97;
  --bg-button-secundary-hover: #4a63b6;
  --bg-button-tertiary: #803643;
  --bg-button-tertiary-hover: #4b2536;
  --color-error-background: rgb(248, 180, 180);
  --color-error-font: rgb(128, 41, 41);

  color-scheme: light dark;
  color: var(--color-font);
  background: linear-gradient(168deg, var(--color-background-dark) 50% , var(--color-background-dark) 100%);;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  padding: 0;
  margin: 0;
}

::-webkit-scrollbar {
  z-index: 9999999;
  width: 7px;
  height: 100%;
  position: absolute;
}
::-webkit-scrollbar-track {
  background: linear-gradient(168deg, var(--color-background) 10% , var(--color-secundary) 80%);
}
::-webkit-scrollbar-thumb {
  background: #fff2;
  border-radius: 7px;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--color-secundary-hover);
}