.profileMenuContainer {
  background-color: var(--color-background-dark);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.74);  
  border-radius: 5px;
  display: none;
  flex-direction: column;
  padding: 1rem;
  gap: .5rem;
  z-index: 99;
  position: absolute;
  top: 51px;
  text-align: left;
}

.liOption {
  width: 100%;
  display: flex;
}

.linkOption {
  padding: .5rem;
  width: 100%;
  border-radius: 5px;
}

.linkOption:hover {
  background-color: var(--color-background);
}

.authButtons {
  font-size: 14px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 130px;
}

.registerLink {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: .5rem;
}

.registerLink:hover {
  background-color: var(--color-background);
}

.enterButton {
  width: 100%;
}