.navigatorContainer {
  width: 100vw;
  display: flex;
  position: fixed;
  background-color: var(--color-background-light);
  border-bottom: solid 1px;
}

.navigatorContainer nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  padding-left: 3rem;
  padding-right: 3rem;
}

.navigatorContainer nav ul {
  display: flex;
  width: 50%;
  justify-content: space-evenly;
}

.navigatorContainer nav ul li:hover {
  color: var(--color-primary);
}

.authContainer {
  gap: 1rem;
  display: flex;
  align-items: center;
}