.navigatorContainer {
  width: 100vw;
  display: flex;
}

.navigatorContainer nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  padding-left: 3rem;
  padding-right: 3rem;
}

.navigatorContainer nav ul {
  display: flex;
  width: 50%;
  justify-content: space-evenly;
}

.navigatorContainer nav ul li:hover {
  color: rgb(233, 121, 121);
}

.authContainer {
  gap: 1rem;
  display: flex;
  align-items: center;
}