.navContainerExt {
  padding-right: 3rem;
  padding-left: 3rem;
}

.navigatorContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-background-dark-opacity);
  background: linear-gradient(to top, var(--color-secundary) 1% , var(--color-background) 80%);
  backdrop-filter: blur(10px);
  border-radius: 5px;
  transition-duration: .2s;
}

.navigatorContainer nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: .7em;
  padding-left: 3rem;
  padding-right: 3rem;
}

.navigatorContainer nav ul {
  display: flex;
  width: 50%;
  justify-content: space-evenly;
}

.navigatorContainer nav ul li:hover {
  color: white;
  filter: brightness(1.5);
}

.authContainer {
  gap: 1rem;
  display: flex;
  align-items: center;
}

.profileMenu {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}